In [2]:
#imports

import numpy as np
import pandas as pd
import collections

# Chargement des données

Chargement du fichier texte et des fréquences d'apparition dans un dataframe Pandas

In [3]:
filepath="../../frontend/dataset/Stage EasyBroadcast 2019.pdf.txt"

fileContent = ""
with open(filepath, encoding="utf-8") as file:
    fileContent = file.read().lower()

# count times of appearance of each word
frequency = dict(collections.Counter(fileContent.split()))

In [4]:
dataframe = pd.DataFrame(frequency.items(), columns=["word", "n_appear"])

In [5]:
dataframe[:10]

                   word  n_appear
0           proposition         1
1                    de        29
2                 stage         3
3                  2019         1
4                 durée         2
5                     :         7
6                     6         1
7                  mois         1
8                e-mail         1
9  job@easybroadcast.fr         1

In [6]:
dataframe.dtypes

word        object
n_appear     int64
dtype: object

# Nettoyage


## Stopwords

In [7]:
stopwords = set()
stopwords_path = "stopWordsFR.txt"
with open(stopwords_path) as file:
    for word in file:
        stopwords.add(word[:-1])

In [8]:
dataframe['word'] = dataframe['word'].astype(str)

In [9]:
dataframe.dtypes

word        object
n_appear     int64
dtype: object

In [10]:
filtered_df = dataframe[~dataframe["word"].isin(stopwords)]

In [11]:
filtered_df[:20]

                    word  n_appear
0            proposition         1
1                     de        29
2                  stage         3
3                   2019         1
4                  durée         2
5                      :         7
6                      6         1
7                   mois         1
8                 e-mail         1
9   job@easybroadcast.fr         1
10                     5         1
11                   rue         1
12                alfred         1
13               kastler         1
14                 44300         1
15                nantes         3
16           développeur         1
17                mobile         1
18           android/ios         1
19                  chez         1

# Attribution des catégories

On donne des mots clés pour chaque catégorie numérotée de 0 à n

In [16]:
from collections import defaultdict

keywords = {
    "développement": 0,
    "web" : 0,
    "développeur" : 0,
    "machine" : 1,
    "learning" : 1,
    "data" : 1
}

categories = {
    "Developpement" : 0,
    "Machine Learning" : 0
}

keyword_df = pd.DataFrame(keywords.items(), columns=["word", "category"])
categories_df = pd.DataFrame(categories.items(), columns=["label", "kw_count"])

In [17]:
keyword_df

            word  category
0  développement         0
1            web         0
2    développeur         0
3        machine         1
4       learning         1
5           data         1

In [28]:
# Inner join

in_text_kw_df = keyword_df.merge(filtered_df, left_on='word', right_on='word')
in_text_kw_df

            word  category  n_appear
0  développement         0         3
1            web         0         1
2    développeur         0         1

In [30]:
prediction_df = in_text_kw_df.groupby(['category']).size().reset_index(name='counts')

In [31]:
prediction_df

   category  counts
0         0       3